$primary: #d75d3c;
$black: #000;
$input-text: #1C1D1F;
$text-disabled: #9E9E9E;
$disabled: #E0E0E0;


$dark-green: #024242;
$green: #A5CF4C;
$orange: #D99F59;
$dark-gray: #889EA6;
$white: #fff;


$light-green: #437E60;
$blue: #4495D1;
$cherry: #DC5973;
$light-gray: #DCDDDE;
