@use "element-plus/theme-chalk/src/radio";

.el-radio {
  &:hover {
    .el-radio__inner {
      border-color: #437E60 !important;
    }
  }

}
.el-radio__inner{
  border-color: #889EA6 !important;
}

.el-radio__label {
  color: black !important;
}

.el-radio__input.is-checked .el-radio__inner{
  border-color: #437E60 !important;
  background-color: transparent !important;
}

.el-radio__inner::after{
  background-color: #437E60 !important;
  width: 10px !important;
  height: 10px !important;
}

.el-radio.el-radio--large .el-radio__inner{
  width: 20px;
  height: 20px;
}